h1 {
    background-color: slateblue;
    color: black;
    border: solid;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.links {
    color: white;
    border-color: black;
    padding: 2px;
    display: inline-flex;
}

.ingredients {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.steps {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

.description {
    text-align: center;
}

h2.description {
    font-size: 25px;
}

li {
    border: 2px solid purple;
    padding: 2px;
    background-color: grey;
    text-align: center;
    margin: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}